/*!
 * Custom website CSS
 */

body {
    background-color: #f1f1f1;
}

hr {
    margin: 5px 0;
}

.logoContainer {
    .logo {
        width: 150px;
        float: right;
    }
}

.container {
    background-color: #fff;
    box-shadow: 0 0 10px 3px #e4dfdf;
    padding: 20px;
    margin-top: 15px;

    .sidenav {
        .blogName {
            font-weight: bold;
            font-size: 1.4em;
            padding: 0 0 20px;
            color: indianred;
        }

        .nav {
            li {
                &.seperator {
                    border-bottom: 1px solid #ececec;
                    margin: 10px 0;
                }
            }
        }
    }

    .rightSide {
        border-left: 1px solid #ececec;

        .blogPost {
            border-left: 3px solid #ffecd9;
            padding-left: 15px;
        }

        .blogListLink {
            display: block;
            padding: 5px;
            margin-bottom: 5px;
            text-decoration: none;
            background-color: #f7f7f7;

            &:hover {
                background-color: #eee;
            }
        }
    }
}