<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ pageTitle }}</title>
    <link rel="stylesheet" type="text/css" href="css/main.min.css">
    <link rel="stylesheet" type="text/css" href="css/custom.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-3 sidenav">

            {% include 'includes/sidenav.html.twig' %}

        </div>
        <div class="col-sm-9 rightSide">

            <div class="row">
                <div class="col-sm-12 logoContainer">
                    <img class="logo" src="img/Logo.png">
                </div>
            </div>

            {% if errMsg != "" %}
                <div class="alert alert-danger" role="alert">
                    {{ errMsg|raw }}
                </div>
            {% endif %}

            {% if successMsg != "" %}
            <div class="alert alert-success" role="alert">
                {{ successMsg|raw }}
            </div>
            {% endif %}

            {% if warningMsg != "" %}
            <div class="alert alert-warning" role="alert">
                {{ warningMsg|raw }}
            </div>
            {% endif %}