<div class="blogName">CST-126 Blog</div>
<ul class="nav nav-pills nav-stacked">

    {% if usernameLoggedIn == "" %}
        <li {% if pageName == "register" %}class='active'{% endif %}><a href="register.php">Register</a></li>
        <li {% if pageName == "login" %}class='active'{% endif %}><a href="login.php">Log In</a></li>
    {% else %}
        <li {% if pageName == "index" %}class='active'{% endif %}><a href="index.php">Home</a></li>
        <li {% if pageName == "blogList" %}class='active'{% endif %}><a href="blogList.php">Blog List</a></li>
        <li {% if pageName == "addBlog" %}class='active'{% endif %}><a href="addBlog.php">Add Blog</a></li>
        <li class="seperator"></li>
        <li>
            <form method="post" action="blogList.php">
                <label for="search_term">Search Blogs</label>
                <div class="input-group">
                    <input name="search_term" id="search_term" class="form-control">
                    <span class="input-group-btn">
                        <input class="btn btn-default" type="submit" name="search_submit" value="Search" maxlength="20">
                    </span>
                </div>
            </form>
        </li>
        <li class="seperator"></li>
        {% if access == "admin" %}
            <li {% if pageName == "admin" %} class='active' {% endif %}><a href="admin.php">Admin Controls</a></li>
        {% endif %}
        <li {% if pageName == "logOut" %}class='active'{% endif %}><a href="logOut.php">Log Out</a></li>
    {% endif %}

</ul>


