{% include 'includes/head.html.twig' %}

<h1>Add Blog Entry</h1>

<div class="row">
    <div class="col-sm-12">
        <form method="post" action="addBlog.php">
            <div class="form-group">
                <label for="title">Title</label>
                <input name="title" id="title" class="form-control">
            </div>
            <div class="form-group">
                <label for="textEntry">Blog Entry</label>
                <textarea name="textEntry" id="textEntry" rows="10" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <input type="submit" name="submit" class="btn btn-primary" value="Add Blog Entry">
            </div>
        </form>
    </div>
</div>

{% include 'includes/footer.html.twig' %}