{% include 'includes/head.html.twig' %}

<h1>Welcome Admin</h1>

<p>You are logged in. This page can only be viewed while logged in as an admin.</p>

<table>
    <th>Name</th>
    <th>Username</th>
    <th>Access</th>
    <th>Make User</th>
    <th>Make Admin</th>

    {% for post in blogPosts %}
        <tr>
            <td>{{ post.fName }} {{ post.lName }}</td>
            <td class='username'>{{ post.username }}</td>
            <td>{{ post.access }}</td>
            <td><button class='user'>User</button></td>
            <td><button class='admin'>Admin</button></td>
    {% endfor %}
</table>


{% include 'includes/footer.html.twig' %}

<script>

    $('.admin').click(function(){
        var user = $(this).closest("tr").find(".username").text();
        $.ajax({
            url: 'includes/forms/access.php',
            type: 'post', // performing a POST request
            data : {
                username : user, access : 'admin'  // will be accessible in $_POST['data1']
            },
            success: function()
            {
                location.reload();
            }
        });
    });

    $('.user').click(function(){
        var user = $(this).closest("tr").find(".username").text();
        $.ajax({
            url: 'includes/forms/access.php',
            type: 'post', // performing a POST request
            data : {
                username : user, access : 'user'  // will be accessible in $_POST['data1']
            },
            success: function()
            {
                location.reload();
            }
        });
    });


</script>