{% include 'includes/head.html.twig' %}

<h1>List of Blog Entries</h1>

{% for post in blogPosts %}
    <div class="row">
        <div class="col-sm-12">
            <a href="singleBlog.php?id={{ post.id }}" class="blogListLink"><strong>{{ post.title }}</strong></a>
        </div>
    </div>
{% endfor %}

{% include 'includes/footer.html.twig' %}