{% include 'includes/head.html.twig' %}

<h1>Welcome</h1>

<p>You are logged in. This page can only be viewed while logged in, otherwise you are re-directed to the log-in page.</p>

{#{% for post in blogPosts %}#}
    {#<div class="row">#}
        {#<div class="col-sm-12">#}
            {#<div class="blogPost">#}
                {#<h2>{{ post.title }}</h2>#}
                {#{{ post.content }}#}
                {#<br><br>#}
                {#<em>Posted on {{ post.created_at }} by {{ post.username }}</em>#}

                {#{% if (access == 'admin') or (access == 'user' and usernameLoggedIn == post.username) %}#}
                {#<a href="singleBlog.php?delete={{ post.id }}">Delete</a>#}
                {#{% endif %}#}

                {#<a href="singleBlog.php?id={{ post.id }}" style="float:right">Read More</a>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
{#{% endfor %}#}

{% include 'includes/footer.html.twig' %}