{% include 'includes/head.html.twig' %}

<h1>Log In</h1>

<div class="col-sm-6 col-sm-offset-3">
    <form method="post" action="login.php">
        <div class="form-group">
            <label for="username">Username</label>
            <input class="form-control" name="username" id="username" value="{{ username }}">
        </div>
        <div class="form-group">
            <label for="pass">Password</label>
            <input class="form-control" name="pass" id="pass" type="password">
        </div>

        <input class="btn btn-primary" type="submit" name="submit" value="Log In">
    </form>
</div>

{% include 'includes/footer.html.twig' %}