{% include 'includes/head.html.twig' %}

<h1>Register</h1>

<div class="col-sm-6 col-sm-offset-3">
    <form method="post" action="register.php">
        <div class="form-group">
            <label for="fName">First Name</label>
            <input class="form-control" name="fName" id="fName">
        </div>
        <div class="form-group">
            <label for="lName">Last Name</label>
            <input class="form-control" name="lName" id="lName">
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input class="form-control" name="username" id="username">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control" name="email" id="email">
        </div>
        <div class="form-group">
            <label for="pass">Password</label>
            <input class="form-control" name="pass" id="pass" type="password">
        </div>
        <div class="form-group">
            <label for="passConfirm">Confirm Password</label>
            <input class="form-control" name="passConfirm" id="passConfirm" type="password">
        </div>

        <input class="btn btn-primary" type="submit" name="submit" value="Register">
    </form>
</div>

{% include 'includes/footer.html.twig' %}