{% include 'includes/head.html.twig' %}

{% if blogPost is empty %}
    <h1>Post Not Found</h1>
{% else %}
    <h1>{{ blogPost.title }}</h1>
    <em>{{ blogPost.created_at }} posted by {{ blogPost.userId }}</em>
    <br><br>
    <div class="row">
        <div class="col-sm-12">
            <p>{{ blogPost.content|raw }}</p>
        </div>
    </div>

    <br><br>

    {% for comment in comments %}
    <div class="row">
        <div class="col-sm-12">Comment by: {{ comment.username }}
            <br>posted: {{ comment.added|date("m/d/Y") }}</div>
        <blockquote>{{ comment.comment|raw }}</blockquote>
    </div>
    {% endfor %}
    <div class="row">
        <div class="col-sm-12">
        <form method="post" action="singleBlog.php?id={{ blogPost.id }}">
            <label for="search_term">Add Comment</label>
            <div class="form-group">
                <textarea name="comment" id="comment" class="form-control" rows="5"></textarea>
                <input class="btn btn-default pull-right" type="submit" name="comment_submit" value="Add Comment" maxlength="20">
            </div>
        </form>
        </div>

    </div>

    <br><br>

    {% if     ( blogPost.userId == userIdLoggedIn ) or ( blogPost.access == "admin" ) %}
        <div class="row">
            <div class="col-sm-12 text-right">
                <a class="btn btn-success" href="updatePost.php?id={{ blogPost.id }}">Update</a>
                <a class="btn btn-danger" onclick=" return deleteConfirm();" href="?delete={{ blogPost.id }}">Delete Post</a>
            </div>
        </div>
    {% endif %}
{% endif %}

{% include 'includes/footer.html.twig' %}

<script>
    /**
     * Runs confirmation of the delete button before actually deleting it
     *
     * @returns {boolean}
     */
    function deleteConfirm() {
        var del = confirm("Are you sure you want to delete this post and all the comments?");

        return del === true;
    }
</script>