{% include 'includes/head.html.twig' %}

<h1>Update Post</h1>

{% if blogPost is empty %}
    <h2>Post Not Found</h2>
{% else %}

    {% if blogPost.userId == userIdLoggedIn %}
        <form method="post" action="updatePost.php?id={{ blogPost.id }}">
            <div class="form-group">
                <label for="title">Title</label>
                <input name="title" id="title" class="form-control" value="{{ blogPost.title }}">
            </div>
            <div class="form-group">
                <label for="textEntry">Blog Entry</label>
                <textarea name="textEntry" id="textEntry" rows="10" class="form-control">{{ blogPost.content }}</textarea>
            </div>
            <div class="form-group">
                <input type="hidden" name="blogId" value="{{ blogPost.id }}">
                <input type="submit" name="submit" class="btn btn-primary" value="Update Blog Entry">
            </div>
        </form>
    {% else %}
        You are only able to edit your own blog entries
    {% endif %}
{% endif %}

{% include 'includes/footer.html.twig' %}